.success {
    color: green;
    background-color: rgba(0, 255, 0, 0.2);
    margin: 1rem;
    transition: all .2s;
    animation: fadeIn .2s;
}

.error {
    margin: 1rem;
    color:red;
    background-color: rgba(255, 0, 0, 0.2) !important;
    font-size: 2rem;
    transition: all .2s;
    animation: fadeIn .2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

